* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 4rem;
  }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root {
    --corTitulo2: #837f7f;
    --corTitulo1: #414141;
    --corBarraRange: #e9ebe6;
    --corFundoRange: #434547;
    --corTexto: #767676;
    --corTexto2: #e9ebe6;
    --corFundo2: #1a1a1a;
    --corFundo: #eae6e1;
    --corCheckBox: #4d4c4c;
    --cor_icone_lua: #4d4c4c;
    --cor_icone_sol: #4d4c4c;
    --cor_icone_menu: #4d4c4c;
    --cor_botao1-off: #414141;
    --cor_botao1-on: #eae6e1;
    --cor_botao2-off: #eae6e1;
    --cor_botao2-on: #414141;
    --icon-menu: #1a1a1a;
}

.dark-mode:root {
    --corTitulo2: #bbb4b4;
    --corTitulo1: #ffffff;
    --corBarraRange: #e9ebe6;
    --corFundoRange: #434547;
    --corTexto: #aaa6a6;
    --corFundo2: #1a1a1a;
    --corFundo: #202020;
    --corCheckBox: #ffffff;
    --cor_icone_lua: #ffffff;
    --cor_icone_sol: #ffffff;
    --cor_icone_menu: #ffffff;
    --cor_botao1-off: #e9ebe6;
    --cor_botao1-on: #414141;
    --cor_botao2-off: #e9ebe6;
    --cor_botao2-on: #414141;
    --icon-menu: #e9ebe6;

}

/* p{
    text-align: justify;
} */


body {
    background-color: var(--corFundo);
    font-size: 16px;
    line-height: 28px;
    color: var(--corTexto);

    align-items: center;
    justify-content: center;

    transition: background 0.4s linear;

}

.logo {
    height: 5vh;
}



.recuo {
    text-indent: 20px;
    text-align: justify;
}


h1 {
    color: var(--corTitulo1);
    font-weight: bold;
    font-size: 30px;
    align-items: center;


}

h2 {
    color: var(--corTitulo2);
    font-weight: bold;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--corTexto);
}

a:hover {
    text-decoration: none;
    color: var(--corTexto);
}

.obs {
    text-align: center;
    font-size: 12px;
    margin: 1px;
}


/* menu */


.headersection {
    padding: 2px;
    font-size: 16px;
    font-weight: 800%;

    position: fixed;
    top: 0px;
    width: 100%;
    background-color: var(--corFundo);
    z-index: 2;

}

.navbar {
    background-color: var(--corFundo);


}

.nav-item :link,
:visited {
    color: var(--corTexto);
}

.nav-item :hover {
    color: var(--corTitulo1);
    font-weight: bolder;
}

.fa-bars {
    color: var(--cor_icone_menu);
}





/* intro texto */

.introsection {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.introsection h1 {
    font-size: 44px;
    color: var(--corTitulo1);
}

.introtext {
    padding: 10px 0px;

}

.introsection .icon_rede {
    margin: 10px 0px;

}


.modelo {
    padding: 25% 0 1px 0;

}






/* sobre mim */

.about {
    padding: 50px 0px;
    background-color: var(--corFundo2);
    color: var(--corTexto2);
    justify-content: center;
}

.about h1 {
    text-align: center;
    padding-bottom: 40px;
    color: var(--corTexto2);
}

.text-about {
    padding: 5px 0px;
}


/* botao */


.btn-outline-padrao {
    color: var(--cor_botao1-off);
    border-color: var(--cor_botao1-off);
    font-weight: bolder;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
    
}

.btn-outline-padrao:hover {
    background-color: var(--cor_botao1-off);
    color: var(--cor_botao1-on);
    border-color: var(--cor_botao1-off);

}

.btn-outline-padrao2 {
    color: var(--cor_botao2-off);
    border-color: var(--cor_botao2-off);
    font-weight: bolder;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
}

.btn-outline-padrao2:hover {
    background-color: var(--cor_botao2-off);
    color: var(--cor_botao2-on);
    border-color: var(--cor_botao2-off);
}




/* experiencia */

.experience {
    padding: 50px 0px;
}

.experience h1 {
    text-align: center;
    padding-bottom: 40px;
}

.experience h5 {
    padding: 0px;
    font-size: 15px;
}



/* portfolio */

.portfolio {
    padding: 50px 0px;
    background-color: var(--corFundo2);
    color: var(--corTexto2);
}

.portfolio h1 {
    text-align: center;
    padding-bottom: 40px;
    color: var(--corTexto2);
}

.carousel-item p{
    text-align: center;
    font-weight: bold;
}


/* skill progress */

.skills {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.skill-name {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
    color: var(--corTexto1);
}

.skill-bar {
    height: 14px;
    background-color: var(--corFundoRange);
    border-radius: 4px;
}

.skill-per {
    height: 14px;
    background-color: var(--corBarraRange);
    border-radius: 4px;
    position: relative;
    animation: fillBars 2.5s 1;

}


.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 1px 3px;
    font-weight: bolder;
    border-radius: 2px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
    color: var(--corFundo1);
}

@keyframes fillBars {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* time line */

.timeline {
    border-left: 3px solid var(--corTitulo1);
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: var(--corTitulo1);
    left: -40px;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    content: "";
}

.fw-bold {
    color: var(--corTitulo1);
}

.text-date {
    color: var(--corTitulo2);
    font-weight: bold;
    font-size: 14px;
}

.text-detail {
    color: var(--corTexto);

}




/* botton dark mode */

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    /* background:#111 ; */
    border: solid var(--corCheckBox) 2px;
    border-radius: 50px;
    cursor: pointer;
    /*reconhecimento do mouse */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.1);

}

.label .ball {

    background: var(--corCheckBox);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 2px;

    height: 20px;
    width: 20px;

    transform: translateX(0px);
    transition: transform 0.2s linear;

}

.checkbox:checked+.label .ball {
    transform: translateX(22px);
}

.fa-moon {
    color: var(--cor_icone_lua);
}

.fa-sun {
    color: var(--cor_icone_sol);
}




.carousel-inner iframe {
    padding: 0px 17px;
}

.carousel-control-prev {
    width: 17px;
    background-color: #202020;
}

.carousel-control-next {
    width: 17px;
    background-color: #202020;
}

.carousel-control-prev-icon :visited {
    color: #202020;
}

/* .introtext span{
    color:#9c7314;
} */




/* rodapé  */

.final {
    padding: 5px 0px;
    background-color: var(--corFundo2);
    color: var(--corTexto2);
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.form {
    width: 100%;

    display: block;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: var(--corFundo);
}

.form-control :active {
    display: block;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: var(--corFundo);
}

textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid #ccc;
    background-color: var(--corFundo);
}


/* contato */

.contact {
    padding: 50px 0px;
}

.contact h1 {
    text-align: center;
    padding-bottom: 40px;

}

.contact .btn-outline-padrao {
    color: var(--cor_botao1-off);
    border-color: var(--cor_botao1-off);
    font-weight: bolder;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
    display: block;
    width: 100%;


}

.contact .btn-outline-padrao:hover {
    background-color: var(--cor_botao1-off);
    color: var(--cor_botao1-on);
    border-color: var(--cor_botao1-off);
}


.info_telefone p {
    display: inline;


}

.icon_contact li h4 {
    display: inline;
}

.fa-phone {
    font-size: 30px;
}

.fa-envelope {
    font-size: 30px;
}

.icon_contact li {
    text-decoration: none;
    list-style: none;
    margin-bottom: 15px;
}





.contact .icon_rede {
    text-align: center;

}

.icon_rede li {
    text-decoration: none;
    list-style: none;
    margin: 20px 5px;
    display: inline;
    font-size: 30px;
}


.fa-instagram:hover {
    color: #e12c82;
    transform: scale(1.2);
    transition: transform 0.40s ease-in-out;
}

.fa-linkedin:hover {
    color: #0077b5;
    transform: scale(1.2);
    transition: transform 0.40s ease-in-out;
}

.fa-github:hover {
    color: var(--icon-menu);
    transform: scale(1.2);
    transition: transform 0.40s ease-in-out;
}

/* enviar */

.modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.modal h1 {
    font-size: 20px;
}

.modal-content {
    background-color: var(--corFundo);
    padding: 16px 24px;
    width: 384px;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: var(--corFundo1);
}

.close-button:hover {
    background-color: var(--corFundo2);
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.Footer {
    position: static;
    bottom: 0;
}